.move-in-right {
	animation: moveInRight 0.5s ease-in-out 1.5s;
    animation-fill-mode: backwards;
}

.move-in-left {
	animation: moveInLeft 0.5s ease-in-out 1s;
	animation-fill-mode: backwards;
}

.move-in-left-delay {
	animation: moveInLeft 0.5s ease-in-out 2s;
	animation-fill-mode: backwards;
}


@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(-2.5rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(2.5rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
